table
{
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}

tr
{
    border: 1px solid #000;
}

td
{
    position: relative;
    text-align: center;
}

tr:nth-child(even) td:after
{
    content: "";
    position: absolute;
    background-color: #a3cff2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -3;
}

td:hover:before
{
    content: "";
    position: absolute;
    background-color: #ccc;
    left: 0;
    top: -1000px;
    height: 6000px;
    width: 100%;
    z-index: -2;
}

td
{
    width: 130px;
}

thead tr,
tfoot tr
{
    background: #447bd4;
}

tbody tr:hover
{
    background: #ccc;
}

[type="tel"]:valid ~ [type="submit"],
[type="email"]:valid ~ [type="submit"]
{
    display: inline-block;
}

[type="tel"]:invalid ~ [type="submit"],
[type="email"]:invalid ~ [type="submit"]
{
    display: none;
}

[type="tel"]:invalid,
[type="email"]:invalid
{
    background: #fdd;
}

[type="tel"]:valid,
[type="email"]:valid
{
    background: #dfd;
}

.flightType[value="departure"] ~ table tr.arrival
{
    display: none;
}

.flightType[value="arrival"] ~ table tr.departure
{
    display: none;
}

.city[value="Toronto"] ~ table tbody tr:not(.toronto),
.city[value="Dublin"] ~ table tbody tr:not(.dublin),
.city[value="Milan"] ~ table tbody tr:not(.milan),
.city[value="Paris"] ~ table tbody tr:not(.paris),
.city[value="Yekaterinburg"] ~ table tbody tr:not(.yekaterinburg)
.city[value="Melbourne"] ~ table tbody tr:not(.melbourne),
.city[value="Capetown"] ~ table tbody tr:not(.capetown),
.city[value="Munich"] ~ table tbody tr:not(.munich),
.city[value="Madrid"] ~ table tbody tr:not(.madrid),
.city[value="New York"] ~ table tbody tr:not(.newyork),
.city[value="Frankfurt"] ~ table tbody tr:not(.frankfurt)
{
    display: none;
}
